/* general rules */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nerko One', cursive;
}




/* ------- BODY ------- */
body{
  background-color: rgb(173, 216, 230);
}





/* ------- HEADER ------- */
header {
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 100px;
}

/* add shadow to the title */
.title{
  font-size: 60px;
  color: white;
}




/* ------- GAME TABLE ------- */
.center{
  width: 70%;
  margin: 0 auto;
}





/* ------- ROW ------- */
.row{
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}





/* ------- BOX ------- */
.box{
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  height: 150px;
  width: 120px;
  margin: 0 5px;
  vertical-align: middle;

  background-image: url(../img/pattern.png);
  background-size: 110%;
}

.box:hover .card-image, .box:hover .card-name{
  display: block;
}

.box:hover{
  background-image: none;
}
.card-image{
  display: none;
  width: 100%;
}

.card-name{
  display: none;
  color: rgb(223, 43, 135);
  font-size: 24px;
}

#front-card{
  background-image: none;
}

#fixed-image{
  display: block;
  width: 100%;
}

#fixed-name{
  color: rgb(223, 43, 135);
  font-size: 24px;
}

.box:hover #fixed-name{
  color: orange;
}


/* ------- FOOTER ------- */
footer{
  height: 60px;
  width: 100%;
  line-height: 60px;
  text-align: center;

}

#footer-text{
  color: black;
  font-size: 14px;
}
