/* general rules */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




/* ------- BODY ------- */
body{
  background-color: rgb(173, 216, 230);
}





/* ------- HEADER ------- */
header {
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 100px;
}

/* add shadow to the title */
.title{
  font-family: 'Nerko One', cursive;
  font-size: 60px;
  color: white;
}




/* ------- GAME TABLE ------- */
.center{
  width: 70%;
  margin: 0 auto;
}





/* ------- ROW ------- */
.row{
  background-color: green;
  height: 200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}





/* ------- BOX ------- */
.box{
  display: inline-block;
  background-color: white;
  height: 150px;
  width: 120px;
  margin: 0 5px;
  position: relative;
  top: 25px;

  background-image: url(../img/);
}
